<div class="alert alert-primary" role="alert" *ngIf="songs.length==0">
    No hay canciones en este album
</div>
<table class="table table-dark" *ngIf="songs.length>0">
  <thead>
    <tr>
      <th scope="col" style="width:10%">#</th>
      <th scope="col" style="width:65%">Nombre</th>
      <th scope="col" style="width:10%; text-align:center">
        <i class="fas fa-clock"></i>
      </th>
      <th scope="col" style="width:15%; text-align:right" *ngIf="userService.currentUser.role=='ADMIN'">
        <i class="fas fa-ellipsis-v"></i>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr style="height:55px" *ngFor="let song of songs" (mouseover)="mostrarBotonPlay(song._id)" (mouseleave)="ocultarBotonPlay(song._id)">
      <th scope="row">
        <span *ngIf="songHoverSelected!=song._id">{{song.number}}</span>
        <span *ngIf="songHoverSelected==song._id">
          <button type="button" class="btn btn-outline-light btn-sm">
            <i class="fas fa-play"></i>
          </button>
        </span>
      </th>
      <td>{{song.name}} </td>
      <td style="text-align:center">{{song.duration |duration}}</td>
      <td style="text-align:center" *ngIf="userService.currentUser.role=='ADMIN'">
        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#editSongModal" (click)="songService.selectSongToEdit(song._id)">
          <i class="fas fa-pencil-alt"></i>
        </button>
        <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteSongModal" (click)="songService.selectSongToDelete(song)">
          <i class="fas fa-trash"></i>
        </button>
      </td>
    </tr>

  </tbody>
</table>
<app-song-edit></app-song-edit>
<app-song-delete [album]="album"></app-song-delete>
