<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">{{userService.currentUser.name}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLinkActive="active" [routerLink]="['data']">Datos</a>
        <a class="nav-item nav-link" routerLinkActive="active" [routerLink]="['password']">Contraseña</a>
        <a class="nav-item nav-link" routerLinkActive="active" [routerLink]="['photo']">Foto</a>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
