<div class="container">
  <br>
  <div class="alert alert-success" role="alert" *ngIf="updateDataExitoso">
    Sus datos hay sido actualizados de manera correcta
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="hayErrorUpdate">
    {{errorUpdate}}
  </div>
  <form [formGroup]="formUserData" (ngSubmit)="updateUserData()">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" [ngClass]="{'is-valid': formUserData.controls['name'].valid && formUserData.controls['name'].touched
                , 'is-invalid':formUserData.controls['name'].invalid && formUserData.controls['name'].touched}" class="form-control invalid"
        formControlName="name" id="name">
      <div class="invalid-feedback" *ngIf="formUserData.controls['name'].errors?.required">
        Debe ingresar su nombre
      </div>
    </div>
    <div class="form-group">
      <label for="surname">Apellido</label>
      <input type="text" [ngClass]="{'is-valid': formUserData.controls['surname'].valid && formUserData.controls['surname'].touched
                  , 'is-invalid':formUserData.controls['surname'].invalid && formUserData.controls['surname'].touched}"
        class="form-control" formControlName="surname" id="surname">
      <div class="invalid-feedback" *ngIf="formUserData.controls['surname'].errors?.required">
        Debe ingresar su apellido
      </div>
    </div>
    <div class="form-group">
      <label for="email">Correo electronico</label>
      <input type="email" [ngClass]="{'is-valid': formUserData.controls['email'].valid && formUserData.controls['email'].touched
            , 'is-invalid':formUserData.controls['email'].invalid && formUserData.controls['email'].touched}" class="form-control"
        formControlName="email" id="email" placeholder="alguien@example.com">
      <div class="invalid-feedback" *ngIf="formUserData.controls['email'].errors?.pattern">
        Formato de correo no valido
      </div>
      <div class="invalid-feedback" *ngIf="formUserData.controls['email'].errors?.required">
        Debe ingresar su email
      </div>
      <div class="invalid-feedback" *ngIf="formUserData.controls['email'].errors?.existeUsuario">
        Ya existe un usuario con este email
      </div>
    </div>
    <div class="btn-form">
      <button type="submit" class="btn btn-outline-primary" [disabled]="formUserData.invalid">Actualizar datos</button>
    </div>
  </form>
</div>