<h5 class="head-title">
  <a [routerLink]="['/home']">
    <div class="fontA">
      <i class="fas fa-music fa-2x" style="color:#4db6ac"></i>
    </div>
    MUSIFY
  </a>
</h5>
<nav>
  <a href="">
    <div class="fontA">
      <i class="fas fa-search"></i>
    </div>
    Buscar
  </a>
  <a [routerLink]="['/artists']" routerLinkActive="actived">
    <div class="fontA">
      <i class="fas fa-star fa-lg"></i>
    </div>
    Artistas
  </a>
  <a [routerLink]="['/albums']" routerLinkActive="actived">
    <div class="fontA">
      <i class="fas fa-book fa-lg"></i>
    </div>
    Albumes
  </a>
</nav>
<nav id="userLogged">
  <a [routerLink]="[ '/user/updateData' ]">
    <img id="imageUserNav" style="margin:0px auto;display:block" [src]="urlImage" alt="userImage" width="50px" height="50px"
      class="rounded-circle"> {{userService.currentUser.name}}
  </a>
  <a [routerLink]="[ '/user/updateData' ]">
    <div class="fontA">
      <i class="fas fa-cog fa-lg"></i>
    </div>
    Mis datos
  </a>
  <a (click)="logOut()" class="btn-logout">
    <div class="fontA">
      <i class="fas fa-sign-out-alt fa-lg"></i>
    </div>
    Salir
  </a>
</nav>