<div class="container">
    <h2>Todos los artistas
        <button type="button" class="btn btn-outline-success" [routerLink]="[ '/artists/new-artist' ]"><i class="fas fa-plus"></i></button>
     </h2>
     <div class="card-columns">
        <div class="card bg-dark text-white" *ngFor="let artist of artists">
            <img class="card-img img-fluid" height="200px" [src]="urlImage+artist.image" alt="Card image">
            <div class="card-img-overlay">
              <h5 class="card-title">{{artist.name}}</h5>

              <div class="card-footer">
                  <button type="button" class="btn btn-outline-primary" [routerLink]="[ '/artists/new-artist' ]"><i class="fas fa-pencil-alt"></i></button>
                  <button type="button" class="btn btn-outline-danger" ><i class="fas fa-trash"></i></button>
              </div>
            </div>
        </div>
     </div>
</div>

