/* You can add global styles to this file, and also import other style files */
html, body{
    height: 100%;
    background: rgb(243, 239, 239);
}
.main-container{
    margin-top: 20px;
    margin-bottom: 50px
}
.btn-form{
    text-align: center;
    width: 100%
}
.card:hover .card-img{
    opacity: 0.4;
}
.card:hover .card-footer{
    opacity: 1;
}
.card-footer{
    opacity: 0;
    position: absolute;
    display: block;
    bottom: 0px;
    right: 0px;
}
.navigation{
    text-align: center;
    color: white;
    background: #343a40;
    height: 100%;
}
.navigation a{
    color: #ddd;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    text-decoration: none;
}
.navigation a:hover{
    color: white;
}
.navigation .fontA{
    display: block;
    width: 100%;
}
.actived{
    border-left: 4px solid #4db6ac;
}
#userLogged{
    text-decoration: center;
    position: absolute;
    bottom: 0px;
    border-top: 1px solid #444;
    width: 85%;
}
.btn-logout{
    cursor: pointer;
}
.head-title{
    text-align: center;
    margin-top: 10px;
}