<div class="row" *ngIf="currentAlbum">
  <div class="col-md-3">
    <img [src]="urlImage" alt="albumImage" class="rounded img-thumbnail">    
  </div>
  <div class="col-md-9">
    <h2>{{currentAlbum.title}} </h2>
    <h5>De: <a [routerLink]="[ '/artists/artist', currentAlbum.artist._id ]">{{currentAlbum.artist.name}}</a> </h5>
    <p>{{currentAlbum.year}} - {{cantSongs}} canciones </p>
    <app-song-add></app-song-add>
  </div>
</div>
<app-song-list [album]="currentAlbum" *ngIf="currentAlbum"></app-song-list>
